 
* {
  color: #FFFFFF;
  font-family: 'Monterrat', sans-serif;
}

h2 {
  margin-top: 50px;
  margin-left: 25px;
  margin-bottom: 10px;
}

h6 {
  text-align: center;
  margin-top: 0px;
}

p {
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 13px;
}

button {
  background: transparent;
  border-width: thin;
  border-color: #FFFFFF;
  margin-left: 10px;
  height: 35px;
  width: 120px;
  font-size: 14px;
  padding-left: 0;
}

.resumeButton {
  margin-left: 25px;
}

#grid {
  display: grid;
  grid-template-columns: 
  20%
  20%
  20%
  40%;
  grid-template-rows:
  250px
  250px
  250px;
}

.box1 { 
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row: 1; 
  background-color: #05A8AA;
}

.box2 {
  grid-column: 3 / 4;
  grid-row: 1; 
  background-color: #DC602E; 
}

.box2:hover {
  background-image: url("https://media.giphy.com/media/QNZn5pG43P2Vi/giphy.gif");
}

.box3 {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
  background-image: url("https://www.fillmurray.com/g/650/750");
  background-repeat: no-repeat;
  background-size: 650px 750px;
}

.box4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #B8D5B8;
}

.box4:hover {
  background-image: url("https://media.giphy.com/media/J7grrqUhlhTag/giphy.gif");
}

.box5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #D7B49E;
  color: black;
  background-position: center;
}

.box5:hover {
  background-image: url("https://media.giphy.com/media/HKx5p4APGBxi8/giphy.gif");
  background-position: center;
  background-size: cover;
  /*background-repeat: no-repeat;*/
}

.box6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #05A8AA;
}

.box6:hover {
  background-image: url("https://media.giphy.com/media/l0MYFq7PsXrZygfmM/giphy.gif");
  background-position: center;
}

.box7 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #BC412B;
}

.box7:hover {
  background-image: url("https://media.giphy.com/media/OJ8hVSLYbpQ08/giphy.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #B8D5B8;
}

.box8:hover {
  background-image: url("https://media.giphy.com/media/QdXfVLeFgNvG/giphy.gif");
  background-position: center;
}

.box9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #BC412B;
}

.box9:hover {
  background-image: url("https://media.giphy.com/media/eW9W6L04F75vi/giphy.gif");
  /*background-repeat: no-repeat;
  background-size: cover;*/
}

.icon {
  height: 60px;
  width: 60px;
  margin-top: 30%;
  margin-left: 40%;
}

.logo {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  margin-left: 0;
}
